<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="log.dir" value="./logs"/>
    <appender name="info_appender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/client-sso-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${log.dir}/%d{yyyy-MM-dd}/%d{HH}/info.log.%i</FileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>40MB</maxFileSize>
        </triggeringPolicy>
        <Append>false</Append>
        <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{30}[%class:%line] %msg%n</Pattern>
    </layout>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>DEBUG</level>
    </filter>
</appender>

<appender name="async_info_appender" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>100000</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="info_appender"/>
</appender>

<appender name="error_appender"
          class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.dir}/client-sso-error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <FileNamePattern>${log.dir}/%d{yyyy-MM-dd}/%d{HH}/error.log.%i</FileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>20</maxIndex>
    </rollingPolicy>
    <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>40MB</maxFileSize>
    </triggeringPolicy>
    <Append>false</Append>
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{30}[%class:%line] %msg%n</Pattern>
    </layout>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>
</appender>

<appender name="async_error_appender" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>100000</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="error_appender"/>
</appender>

    <!-- 按用户输出日志 -->
    <root level="DEBUG">
<!--    <root level="ERROR">-->
        <appender-ref ref="async_info_appender"/>
        <appender-ref ref="async_error_appender"/>
    </root>
</configuration>  


